
body {
  background: #0f0f0f;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background: #111;
  padding: 20px;
}
header img {
  width: 160px;
}
.hero {
  padding: 50px;
}
footer {
  padding: 20px;
  background: #111;
  color: #aaa;
}
